@charset "utf-8";

/*!
    * @FileName : _base.scss
    * @Date : 2025-01-15
    * @작성자 : LEE JI YOUNG
    * @설명 : reset
*/

/**********************************************************************************
    reset
**********************************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; font:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1; }
ol, ul {list-style:none; list-style-position:inside}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
form, fieldset, iframe {display:block; border:0 none}
legend {position:absolute; left:0; top:0; width:0; height:0; overflow:hidden;}
mark { background-color:transparent; font-size:inherit; line-height:inherit; color:inherit; }

/* reset custom */
html { /*width:100%; height:100%;*/ box-sizing:border-box; font-size: 62.5%; }
body { /*width:100%; height:100%;*/ @include font_pre(400); letter-spacing:0; overflow-x:hidden; -webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;}
*, ::after, ::before {box-sizing:inherit;}
a, a:focus, a:hover {text-decoration:none; outline-color: #000;}
a, button {cursor:pointer;}
a:hover, a:focus, button:hover, button:focus {cursor:pointer;}
button { background-color: transparent; padding:0; @include default-transition;}
button, input[type="submit"], input[type="cancle"], input[type="button"] {@include font_pre(400);  letter-spacing:-0.024em; border:0 none;}
input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="week"], textarea, select, input[type="checkbox"], input[type="radio"], label {display:inline-block; margin:0; @include font_pre(300); font-size:$font-size-base; line-height:$line-height-base; letter-spacing:-0.024em;}
input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="week"], textarea, select {@include default-transition('border-color, background-color'); border:0.1rem solid $ref-slate-300; border-radius:0.4rem;}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button, input[type="week"]::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="button"]:focus, input[type="button"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {cursor:pointer;}
select { -webkit-appearance: none; -moz-appearance: none; appearance : none;}
//*:focus { outline-color: #000;}

//ios 사파리관련 reset
body { 

    //text 크기 자동지정 제거 reset
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none; 

    //event요소 그림자 강제제거
    input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="week"], textarea, button { 
        -webkit-appearance: none; 
    }

    //table내 텍스트 강제조절 제거
    table { 
        td, th {
            -webkit-text-size-adjust:none;
            -moz-text-size-adjust:none;
            -ms-text-size-adjust:none;
        }
    }    
} 

//공통
.hdn {position:absolute!important; left:0 !important; top:0 !important; width:0 !important; height:0 !important; overflow:hidden !important;}
caption.hdn { position:relative!important; text-indent:-100000px; font-size:0;} //ios 사파리 caption 'position:absolute' 버그로 보완
.of_h {overflow:hidden!important;}
.dp_none { display: none!important;}

.ta_l { text-align:left !important;}
.ta_c { text-align:center !important;}
.ta_r { text-align:right !important;}

.flex_ac { justify-content: center!important;}
.flex_al { justify-content: flex-start!important;}
.flex_ar { justify-content: flex-end!important;}


//txt color
$text-color-list: (
    'blue': $ref-blue-500,
    'red': $ref-red-500,
    'yellow': $ref-amber-500,
    'gray': $ref-slate-500,
);
@each $name-c, $color_c in $text-color-list {
    .tc_#{$name-c} { color : $color_c !important;}
}

//margin top, padding top
$top_flag:8;
@for $i from 1 to 16 {
    .mgt#{$i * $top_flag} {margin-top:#{$i * $top_flag * 0.1} + #{'rem'} !important;}
    .pdt#{$i * $top_flag} {padding-top:#{$i * $top_flag * 0.1} + #{'rem'} !important;}
}
.mgt0   {margin-top:0 !important;}
.pdt0   {padding-top:0 !important;}

// width fix
$width_flag:5;
@for $i from 1 to 21 {
    .w_#{$i * $width_flag} { width:#{$i * $width_flag} + #{'%'} !important; }
}
.w_unset { width:unset !important;}
.w_auto { width:auto !important;}
.w_100 { width:100% !important; }

//loading (<body> 전용)
body.is_loading {
    &::before {
        content:"";
        position: fixed;
        left:0;
        top:0;
        display: block;
        width:100%;
        height:100%;
        background-color:rgba(255,255,255,0.5);
        z-index:99;
    }
    &::after {
        content:"로딩중 입니다.";
        position: fixed;        
        left:50%;
        top:50%;
        transform: translate( -50%, -50%);
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width:15.0rem;
        height:8.0rem;
        padding-top:3.8rem;
        @include font_pre(500);
        font-size:1.4rem;
        color:#000;  
        background:url(../images_renew_2023/favicon.png) no-repeat center 1.2rem;
        background-size:3.6rem auto;
        z-index:100;
    }    
}

//반응형 정의
@media (min-width:1440px) { /* pc wide */ }
@media (min-width:1025px) and (max-width:1439px) { /* pc */ }
@media (min-width:768px) and (max-width:1024px) { /* tablet */}
@media (max-width:767px) {/* mobile */ }
