@charset "utf-8";

/*!
    * @FileName : _layout.scss
    * @Date : 2025-01-21
    * @작성자 : LEE JI YOUNG
    * @설명 : 화면 내 layout 요소
*/

/**********************************************************************************
    heading
**********************************************************************************/
h1 {
    display: block;
    padding:2.0rem 4.0rem;
    font-size:2.4rem;
    line-height:3.6rem;
    font-weight: 700;
    margin-bottom:2.0rem;
    border-bottom:0.4rem solid #dcdcdc;
}

h2 {
    font-size:2.0rem;
    line-height:3.0rem;
    font-weight: 700;
    margin-bottom:2.0rem;
}

h3 {
    font-size:1.8rem;
    line-height:2.6rem;
    font-weight: 700;
    margin-bottom:2.0rem;
}

/**********************************************************************************
    layout common
**********************************************************************************/

.container_box {
    display: block;    
    padding:4.0rem 6.0rem;
    width:calc(100% - 4.0rem);
    margin:4.0rem 2.0rem;
    border:0.1rem solid $clr_darkgray;
    border-radius: 2.4rem;

    .section_box {
        display: block;
        margin-top:2.4rem;
        padding:3.0rem 0;
        border-top:0.1rem solid $clr_lightgray;
        &:first-of-type {
            margin-top:0;
            border-top:0 none;
            padding:0 0 3.0rem 0;
        }
    }
   
}

.hr {
    display: block;
    width:100%;
    margin:4.0rem 0;
    border:0 none;
    border-bottom:0.1rem solid $clr_line;
}