@charset "utf-8";

//* @FileName :  _var-value.scss
//* @Date : 20285-01-15
//* @작성자 : LEE JI YOUNG
//* @설명 : 공통 변수

$clr_basic: #000;
$clr_text : #64748B;
$clr_main: #2d96ff;
$clr_red:#E02535;
$clr_blue:#0067ce;
$clr_yellow:#EA8B00; 
$clr_lightgray: #cacaca;
$clr_darkgray: #797e8a;

$clr_line:#E4E4E4;

//line, bg color
$clr_inp_default:#DBE0E6;
$clr_inp_disabled:#CBD5E1;
$clr_inp_disabled_bg:#F1F5F9;
$clr_inp_focus:#0064c9;
$clr_inp_error:#F43F5E;
$clr_inp_error_bg:#FFFBFB;
$clr_inp_valCheck:#10B981;
$clr_inp_valCheck_bg:#F9FEFC;
$clr_inp_read_bg:#F6F7F8;
$clr_inp_hover:#64748B;
$clr_switch_bg:#D1D5DB;

//font color
$clr_state_de : #111418;
$clr_state_dis : #617589;
$clr_state_error : #BE123C;
$clr_state_valCheck : #047857;
$clr_state_ph : #94A3B8;

$f_size : 1.6rem;
$f_line : 2.4rem;

//borderradius
$bd_radius : 0.8rem;
$bd_radius_lg : 1.6rem;
$bd_radius_xl : 2.4rem;

