@charset "utf-8";

//* @FileName :  _var-value.scss
//* @Date : 20285-01-15
//* @작성자 : LEE JI YOUNG
//* @설명 : 공통 변수

$clr_basic: #000;
$clr_main: #137FEC;
$clr_red:#E02535;
$clr_blue:#137FEC;
$clr_yellow:#EA8B00; 
$clr_darkgray: #8A8E99;
$clr_dis_line:$clr_darkgray;

$clr_line:#E4E4E4;

$clr_inp_default:#DBE0E6;
$clr_inp_disabled:#CBD5E1;
$clr_inp_disText:#617589;

$f_size : 1.3rem;
$f_line : 2.4rem;

