@charset "utf-8";

//* @FileName :  _var-value.scss
//* @Date : 20285-01-15
//* @작성자 : LEE JI YOUNG
//* @설명 : 공통 변수

$clr_basic: #111;
$clr_main: #2B456B;
$clr_red:#E02535;
$clr_blue:#0F91E0;
$clr_yellow:#EA8B00; 
$clr_greenblue : #17A7DB;
$clr_darkblue:#2B91EA;
$clr_darkblue2:#1F5AB1;
$clr_green:#38ae92;
$clr_point:#006ECD;
$clr_btn_bg1 : #484C59;

$clr_gray3 : #333333;
$clr_gray5 : #555555;
$clr_gray7 : #777777;
$clr_gray : #ccc;
$clr_darkgray: #8A8E99;

$clr_bg_gray1 : #f9f9f9;
$clr_bg_gray2 : #ededed;
$clr_bg_gray3 : #f8f8f8;
$clr_bg_gray4 : #f6f6f6;
$clr_bg_con : #f5f5f5;

$clr_dis_txt:rgba(138,142,153,0.5);
$clr_dis_bg:$clr_bg_gray4;
$clr_dis_line:$clr_darkgray;

$clr_line:#E4E4E4;
$clr_b_line:#CECECE;
$clr_b_line2:#BDBDBD;

$f_size : 1.3rem;
$f_line : 2.4rem;

