/* src/components/Button.module.scss */

//button
@mixin btn_basic() {
    display: inline-block;
    padding: 1.2rem 2.0rem;
    border-radius: 0.8rem;
    @include font_set();
    cursor: pointer;
}
@mixin btn_disabled() {
    border-color:$clr_inp_disabled;
    background-color:$clr_inp_disabled_bg;
    color:$clr_state_dis;
}

.btn {
    @include btn_basic();
    background-color: $clr_main;
    color:#fff;
    &:hover {
        background-color: #217cd6;
    }
    .btn_txt {
        font-weight: 600;
    }
    &:disabled {
        @include btn_disabled();
    }    
}

.btn_primary {
    @include btn_basic();
    background-color: $clr_blue;
    color:#fff;
    &:hover {
        background-color: #004992;
    }
    .btn_txt {
        font-weight: 600;
    }
    &:disabled {
        @include btn_disabled();
    }    
}

.btn_sub {
    @include btn_basic();
    background-color: $clr_darkgray;
    color:#fff;
    &:hover {
        background-color: #4b4e57;
    }
    .btn_txt {
        font-weight: 600;
    }
    &:disabled {
        @include btn_disabled();
    }      
}

.size_sm { 
    padding:0.2rem 1.6rem;
    @include font_set(sm);
}
.size_lg { 
    padding:0.6rem 2.4rem;
    @include font_set(lg);
}

