/* src/components/Button.module.scss */

//button
@mixin button-basic() {
    display: inline-block;
    padding: 1.2rem 2.0rem;
    border-radius: 0.8rem;
    @include font-set();
    cursor: pointer;
}
@mixin button-disabled() {
    border-color:$border-disabled;
    background-color:$bg-disabled;
    color:$text-disabled;
}

.btn {
    @include button-basic();
    background-color: $ref-blue-500;
    color:#fff;
    &:hover {
        background-color: $ref-blue-700;
    }
    .btn_txt {
        font-weight: 600;
    }
    &:disabled {
        @include button-disabled();
    }    
}

.btn_primary {
    @include button-basic();
    background-color: $ref-blue-600;
    color:#fff;
    &:hover {
        background-color: $ref-blue-900;
    }
    .btn_txt {
        font-weight: 600;
    }
    &:disabled {
        @include button-disabled();
    }    
}

.btn_sub {
    @include button-basic();
    background-color: $ref-slate-500;
    color:#fff;
    &:hover {
        background-color:  $ref-slate-700;
    }
    .btn_txt {
        font-weight: 600;
    }
    &:disabled {
        @include button-disabled();
    }      
}

.size_sm { 
    padding:0.2rem 1.6rem;
    @include font-set(sm);
}
.size_lg { 
    padding:0.6rem 2.4rem;
    @include font-set(lg);
}

