/* src/components/MyButton.module.scss */
//@import "../assets/scss/_var_value.scss";

//button
.btn {
    padding: 1.6rem 2.4rem;
    background-color: $clr_blue;
    color:#fff;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 2.0rem;
    line-height: 3.0rem;
    &:hover {
        background-color: #004992;
    }
    .btn_txt {
        font-weight: 600;
    }
    &:disabled {
        border-color:$clr_inp_disabled;
        background-color:$clr_inp_disabled_bg;
        color:$clr_state_dis;
    }    
}
.btn_sub {
    padding: 1.6rem 2.4rem;
    background-color: $clr_darkgray;
    color:#fff;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 2.0rem;
    line-height: 3.0rem;
}
