/* src/components/TextField.module.module.scss */

//input (TextField)
.inp_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap:0.8rem 0;

    .inp_label {
        display: block;
        text-align: left;
    }

    label {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;        
        gap:0 0.6rem;
        color:$ref-slate-900;;
        font-size:$font-size-base;
        line-height: $line-height-base;
        font-weight:600;
        &.is_req {
            &::after {
                content:" * ";
                display:block;
                @include font-set(sm);
                color:$ref-red-500;
            }
        }        
    }

    input {
        display: inline-block;
        padding:0.8rem 1.6rem;
        font-size:$font-size-base;
        line-height: $line-height-base;        
        @include inp-state();
        border-radius: $radius-md;
        &:focus {
            border-color:$input-focus-border;
        }
        &:disabled,
        &[disabled] {
            @include inp-state(disabled);
        }
        
        &:read-only,
        &[readonly] {
            @include inp-state(readonly);
        }       
    }

    /* msg노출은 jsx에서 직접 data에 따라 선언 여부 처리함 / css에서 컨트롤하는 부분은 제거함 */
    .msg_error {
        display: block;        
        @include font-set(sm);
        color:$text-error;
    }

    &.is_error {
        input {
            @include inp-state(error);
        }       
    }    
}

