/* src/components/Textarea.module.module.scss */

//Textarea
.textarea_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap:0.8rem 0;

    .textarea_label {
        display: block;
        text-align: left;
    }

    label {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;        
        gap:0 0.6rem;
        color:$ref-slate-900;
        font-size:$font-size-base;
        line-height: $line-height-base;
        font-weight:600;
        &.is_req {
            &::after {
                content:" * ";
                display:block;
                @include font-set(sm);
                color:$ref-red-500;
            }
        }        
    }

    textarea {
        display: block;
        padding:0.8rem 1.6rem;
        width:100%;
        height:20.0rem;
        outline:none;
        font-size:$font-size-base;
        line-height: $line-height-base;        
        @include inp-state();
        border-radius: $radius-md;
        resize: vertical;
        transition: all 0.2s ease-in-out;
        &:hover {
            border-color:$input-focus-border;
        }
        &:focus {
            border-color:$input-focus-border;
            @include default-shadow;
        }
        &:disabled,
        &[disabled] {
            @include inp-state(disabled);
            resize: none;
            cursor: not-allowed;
        }
        
        &:read-only,
        &[readonly] {
            @include inp-state(readonly); 
        }       
    }

    /* msg노출은 jsx에서 직접 data에 따라 선언 여부 처리함 / css에서 컨트롤하는 부분은 제거함 */
    .msg_error {
        display: block;        
        @include font-set(sm);
        color:$text-error;
    }

    &.is_error {
        textarea {
            @include inp-state(error);
        }       
    }    
}

