// src/features/grid/GridTable.module.scss

// grid table

.grid_table_container {
    position: relative;
    margin-top:0.8rem;
}

.grid_table {
    table-layout: fixed;
    width:100%;
    border-top:0.1rem solid $ref-slate-700;

    & th,
    & td {
        padding:0.8rem 0.6rem;
        @include font-set();
        border-right:0.1rem solid $ref-slate-300;
        border-bottom:0.1rem solid $ref-slate-300;
    }

    & tr > *:first-child {
        border-left:0.1rem solid $ref-slate-300;
    }    

    & thead th,
    & thead td {
        font-weight: 600;
        color:$ref-slate-900;
        text-align: center;
        background-color: $ref-slate-100;
    }
    
    & tbody th, 
    & tbody td {
        text-align: center;
    }

}